<h1>BE YOUR OWN CONNECT</h1>

** PICTURE OF OUTLET** 
<%= link_to "Sign Up Here", signup_path %>
<%= link_to "Login  Here", '/login' %>
<%= link_to "Login with Google", '/auth/google_oauth2' %>



SIGN IN URL WHEN CLICKING PICTURE
  #link_to(image_tag(“myimage”), {:controller => “mycontroller”,
#:action => “myaction”}) 