<h1>Connect landing page</h1>

<h2>SEE NaME or Business NaME</h2>

picture or video  

-> side middle -->  discuptions
-> to side -> social media

^ under picture /video Sign up or mailing list^
<br>
<br>
<br>
<br>

<h4> Want to be added to my Mailing list?</h4>
<p><%= link_to 'Add to mailing list', new_contact_path(@contacts)%></p>